.head-div{
    border: 2px solid #282828;
    width: 960px;
    height: 360px;
    background-color:#282828;
    color: white;
    text-align: center;
    font-size: 30px;
    text-align: center;
    margin:auto;
}
.header{
    background-color:#282828 ;
    width:auto;
    height:auto;
    font-size: 15px;

}
.clearfix{
    overflow: auto;
    background-color:#181818;
    width: 960px;
    margin:auto;

}

li {
    float: left;
    margin: 15px 5px 15px 5px;
    list-style-type:none;
  }

  hr{
      width:960px;
  }
  
  li a {
      text-decoration: none;
      color: white;
    padding: 8px;
    font-size: 10px;
  }

h1{
    margin:auto;
    color: white;
    padding-left: 240px;
    padding-Top:10px;
}

.para_div{
    background-color:#F0F0F0;
    width: 960px;
    margin: auto;
}

h4{
    padding-left: 240px;
}


.flex-container {
    display: flex;
    align-items: center;
    text-align: center;
    align-items: center;
    padding-left: 225px;
  }

  
.flex-container > div {
    background-color: #282828 ;
    color: white;
    width: 215px;
    height: 315px;
    margin: 17px;
    text-align: center;
    
  }
footer{
    background-color:#181818 ;
    color: white;
    font-size: 15px;
    padding-left: 240px;
    padding-right:240px
    
}
 